@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
  display: none !important;
}
.productCard:hover .swiper-pagination-bullet {
  display: inline-block !important;
}
